@import '../../colors.scss';

.position-sticky {
  position: sticky;
  top: 0;
}

.card-body {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  color: $oaGray;
  h1 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 3;
  }
  h2 {
    font-size: 1.25em;
  }
  hr {
    margin-top: 10px;
  }
  .employee-image {
    width: 100%;
    border-radius: 5px;
  }
  &.employee-sidebar {
    h1 {
      font-size: 2em;
      margin: 15px 0 10px;
      text-align: center;
    }
    .sub-header {
      display: flex;
      .location {
        flex: 1;
        text-align: center;
        border-right: 1px solid lightgray;
      }
      .role {
        flex: 1;
        text-align: center;
      }
    }
  }
  .contact-icons {
    display: flex;
    .icon {
      flex: 1;
      text-align: center;
    }
  }
  .employee-header {
    display: flex;

    .status {
      flex: 1;
      text-align: right;
      .fa {
        color: lightgreen;
      }
    }
    .employee-link-container {
      display: flex;
      .employee-image {
        flex: 50px;
        max-width: 50px;
        margin-right: 10px;
        border-radius: 50px;
      }
      .employee-name {
        flex: 5;
      }
    }
  }
  &.scale-up {
    transition: 0.5s;
    &:hover {
      // transition: 0.5s;
      // transform: scale(1.02, 1.02);
      // box-shadow: 0px 3px 3px 0px #9aacbd;
    }
  }
  .employee-allocation {
    display: flex;
    margin-bottom: 20px;
    .allocation {
      padding: 5px;
      text-align: center;
      color: white;
      .allocation-percentage {
        display: none;
      }
      &:hover {
        .allocation-percentage {
          display: inherit;
        }
        .client {
          display: none;
        }
      }
      &.scale-up {
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          transform: scale(1.02, 1.02);
          box-shadow: 0px 3px 3px 0px #9aacbd;
          cursor: default;
        }
      }
      &:first-child {
        background-color: $allocation2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:nth-child(2) {
        background-color: $allocation3;
      }
      &:nth-child(3) {
        background-color: $allocation4;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .location {
    margin-bottom: 10px;
  }

  .skills-container {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #f0fff9;
    table {
      background-color: #f0fff9;
    }
    .skill-header {
      display: flex;
      margin-bottom: 10px;
      font-weight: bold;
      .skill-label-header {
        flex: 1;
        text-align: right;
      }
      .skill-gauge-header {
        flex: 7;
        text-align: center;
      }
    }
    .skill-detail {
      .skill-gauge {
        flex: 2;
        padding-left: 10px;
        height: 30px;
        .gauge {
          padding-left: 10px;
          border: 1px solid white;
          color: white;
          &.expert {
            width: 100%;
            background-color: $oaOrange;
          }
          &.advanced {
            width: 80%;
            background-color: $oaOrange;
            opacity: 0.9;
          }
          &.intermediate {
            width: 50%;
            background-color: $oaOrange;
            opacity: 0.8;
          }
          &.novice {
            width: 35%;
            background-color: $oaOrange;
            opacity: 0.7;
          }
          &.beginner {
            width: 20%;
            background-color: $oaOrange;
            opacity: 0.6;
          }
          &.none {
            width: 0%;
            background-color: $oaOrange;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.tree-map-container {
  background-color: white;
  height: 245px;
}

.project-history-container {
  h2 {
    margin-top: 0;
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  img {
    width: 100%;
    margin-top: 10%;
  }
  .start-end {
    font-size: 0.9em;
  }
  .role,
  .start-end {
    margin-top: 5px;
  }
}

.employee-content {
  .card-body {
    .assignment {
      .assignment-details:nth-child(1) {
        p {
          color: green;
        }
        background-color: blue !important;
      }
    }
  }
}

.assignment {
  .assignment-details:nth-of-type(1) {
    .fa-circle {
      color: $allocation2;
    }
  }
  .assignment-details:nth-of-type(2) {
    .fa-circle {
      color: $allocation3;
    }
  }
  .assignment-details:nth-of-type(3) {
    .fa-circle {
      color: $allocation4;
    }
  }
  .assignment-details {
    .roles,
    p {
      margin-top: 10px;
    }
    .project-details {
      display: flex;
      .name {
        flex: 1;
        font-size: 1.25em;
      }
      .start-end {
        flex: 1;
        text-align: right;
      }
    }
  }
}
