@import '../../colors.scss';

.card-body {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  color: $oaGray;
  h1 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 3;
  }
  hr {
    margin-top: 10px;
  }
  .employee-image {
    width: 100%;
  }
  &.employee-sidebar {
    h1 {
      margin: 15px 0 10px;
    }
  }
  .employee-header {
    display: flex;

    .status {
      flex: 1;
      text-align: right;
      .fa {
        color: lightgreen;
      }
    }
    .employee-link-container {
      display: flex;
      .employee-image {
        flex: 50px;
        max-width: 50px;
        margin-right: 10px;
        border-radius: 50px;
      }
      .employee-name {
        flex: 5;
      }
    }
  }
  &.scale-up {
    transition: 0.5s;
    &:hover {
      // transition: 0.5s;
      // transform: scale(1.02, 1.02);
      // box-shadow: 0px 3px 3px 0px #9aacbd;
    }
  }
  .assignment {
    .allocation-legend {
      margin-bottom: 5px;
      &:first-child .fa {
        color: $allocation2;
      }
      &:nth-child(2) .fa {
        color: $allocation3;
      }
      &:nth-child(3) .fa {
        color: $allocation4;
      }
    }
  }
  .employee-allocation {
    display: flex;

    .allocation {
      .allocation-percentage {
        display: none;
      }
      &:hover {
        .allocation-percentage {
          display: inherit;
        }
        .client {
          display: none;
        }
      }
      &.scale-up {
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          transform: scale(1.02, 1.02);
          box-shadow: 0px 3px 3px 0px #9aacbd;
          cursor: default;
        }
      }
      text-align: center;
      color: white;

      &:first-child {
        background-color: $allocation2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:nth-child(2) {
        background-color: $allocation3;
      }
      &:nth-child(3) {
        background-color: $allocation4;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .location {
    margin-bottom: 10px;
  }
  .skills-container {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #f0fff9;
    .skill-detail {
      display: flex;
      .skill-label {
        flex: 1;
        text-align: right;
      }
      .skill-gauge {
        flex: 10;
        padding-left: 10px;
        height: 30px;
        .gauge {
          padding-left: 10px;
          border: 1px solid white;
          color: white;
          &.expert {
            width: 100%;
            background-color: $oaOrange;
          }
          &.advanced {
            width: 80%;
            background-color: $oaOrange;
            opacity: 0.9;
          }
          &.intermediate {
            width: 50%;
            background-color: $oaOrange;
            opacity: 0.8;
          }
          &.novice {
            width: 35%;
            background-color: $oaOrange;
            opacity: 0.7;
          }
          &.beginner {
            width: 20%;
            background-color: $oaOrange;
            opacity: 0.6;
          }
          &.none {
            width: 0%;
            background-color: $oaOrange;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.tree-map-container {
  background-color: white;
}
