<div id="home-page" class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="card-body">
      <h1>Welcome to the Optimity Advisors Skill Bank!</h1>
      <div class="content-section">
        <h2>What is a skill bank?</h2>
        <p>
          A skill bank is a single source to inventory knowledge, skill,
          expertise and experience so we as a company may easily and effectively
          place resources where needed.
        </p>
      </div>
      <div class="content-section">
        <h2>Is the site functional?</h2>
        <p>
          This is only a prototype built using Angular to help demonstrate the
          idea of an online skill bank.
        </p>
      </div>
      <div class="content-section">
        <h2>Where is the data coming from?</h2>
        <p>
          As of right now, the data is being driven from a fake API and the
          values do not reflect true accurate data. Once again, the data is for
          testing purposes only and does not reflect actual statistics.
        </p>
      </div>
    </div>
  </div>
</div>
