.sidebar-overlay {
  background-color: #adadad;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.info-sidebar-container {
  background-color: white;
  padding: 50px 20px 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  box-shadow: -2px 2px 5px #9a9a9a;
  height: 100%;
  animation: slideInFromRight 0.5s;
  .sidebar-content {
    overflow-y: scroll;
    height: 100%;
  }
}

@keyframes slideInFromRight {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
