<div class="container">
  <div class="row">
    <div *ngFor="let employee of employees | async" class="col-lg-4">
      <div class="card-body scale-up">
        <div class="employee-header">
          <h1>
            <a [routerLink]="employee.id">
              <i class="fa fa-user"></i> {{ employee.details.firstName }}
              {{ employee.details.lastName }}
            </a>
          </h1>
          <div class="status"><i class="fa fa-circle"></i> Assigned</div>
        </div>
        <div class="location">
          {{ employee.details.address.city }},
          {{ employee.details.address.state }}
        </div>
        <div class="assignment">
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          {{ employee.assignment.current.client }} -
          {{ employee.assignment.current.project }}
        </div>

        <div class="skills-container">
          <div *ngFor="let skill of employee.skills">
            <div class="skill-detail">
              <div class="skill-label">
                {{ skill.name }}
              </div>
              <div class="skill-gauge">
                <div
                  class="gauge"
                  [ngClass]="
                    generateSkill(skill.experience.level).toLowerCase()
                  "
                  [title]="skill.experience.years + ' years experience'"
                >
                  {{ generateSkill(skill.experience.level) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
