@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import 'colors.scss';

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: $gray;

  .page-container {
    display: flex;
    .sidebar {
      flex: 1;
      background-color: #bfc0cb;
      height: auto;
      a {
        font-size: 2em;
        color: white;
        .sidebar-link {
          padding: 10px 20px;
          border-bottom: 1px solid white;
          &.logo {
            background-color: white;
            display: flex;
            .logo-mark {
              flex: 1;
              width: 80px;
            }
            .logo-text {
              flex: 10;
              width: 150px;
            }
          }
        }
      }
    }
    main {
      flex: 5;
      padding: 40px;
    }
  }
}

nav {
  display: flex;
  background-color: $gray;
  padding: 10px;
  margin-bottom: 40px;
  a {
    background-color: $oaOrange;
    padding: 5px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:nth-child(n + 2) {
      flex: 5;
    }
    &:hover {
      background-color: lightslategray;
      transition: 0.3s;
    }
  }
}
