<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="sidebar">
        <a>
          <div class="sidebar-link logo">
            <img
              class="logo-mark"
              src="/assets/logo-mark.svg"
              alt="Optimity Advisors mark"
            />
            <img
              class="logo-text"
              src="/assets/logo.svg"
              alt="Optimity Advisors logo"
            />
          </div>
        </a>
        <a routerLink="/home" routerLinkActive="active">
          <div class="sidebar-link">
            Home
          </div>
        </a>
        <a routerLink="/employees" routerLinkActive="active">
          <div class="sidebar-link">
            Employees
          </div>
        </a>
        <a routerLink="/skills" routerLinkActive="active">
          <div class="sidebar-link">
            Skills
          </div>
        </a>
        <a routerLink="/projects" routerLinkActive="active">
          <div class="sidebar-link">
            Projects
          </div>
        </a>
      </div>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
