$gray: #e8e9f4;
$pink: #e9425e;
$blue: #22c3d8;
$darkBlue: #090b3a;
$black: #050505;

$allocation1: rgba(62, 78, 80, 1);
$allocation2: rgba(17, 138, 178, 1);
$allocation3: rgba(6, 214, 160, 1);
$allocation4: rgba(255, 209, 102, 1);
$allocation5: rgba(252, 222, 156, 1);

$oaOrange: #f3771f;
$oaOrangeLighter: #e7965b;
$oaOrangeLight: #ebcdb8;
$oaGray: #939497;
$oaOrangeGradient: linear-gradient(
  90deg,
  rgba(243, 119, 31, 1) 0%,
  rgba(243, 119, 31, 1) 40%,
  rgba(243, 119, 31, 1) 60%,
  rgba(235, 205, 184, 1) 100%
);

$gaugeExpert: rgba(26, 89, 62, 1);
$gaugeAdvanced: rgba(37, 124, 92, 1);
$gaugeIntermediate: rgba(47, 156, 122, 1);
$gaugeBeginner: rgba(58, 196, 164, 1);
$gaugeNone: rgba(68, 229, 202, 1);

$treeMap1: rgba(221, 183, 72, 1);
$treeMap2: rgba(228, 124, 112, 1);
$treeMap3: rgba(137, 176, 228, 1);
$treeMap4: rgba(252, 194, 201, 1);
$treeMap5: rgba(241, 236, 225, 1);
