<div *ngIf="employee" class="card-body scale-up">
  <div class="employee-header">
    <h1>
      <a
        class="employee-link-container"
        [routerLink]="'/employees/' + employee.id"
      >
        <img
          class="employee-image"
          [src]="'assets/' + employee.details.profilePicture"
          alt="Profile Image"
        />
        <span class="employee-name">
          {{ employee.details.firstName }}
          {{ employee.details.lastName }}
        </span>
      </a>
    </h1>
    <div class="status"><i class="fa fa-circle"></i> Assigned</div>
  </div>
  <div class="sub-header">
    <div class="title">
      {{ employee.title }}
    </div>
    <div class="location">
      {{ employee.details.address.city }},
      {{ employee.details.address.state }}
    </div>
  </div>

  <div class="assignment">
    <div class="employee-allocation">
      <div
        class="allocation scale-up"
        *ngFor="let assignment of employee.assignments.current"
        [style]="'flex:' + assignment.allocation"
      >
        <span class="client">{{ assignment.client }}</span>
        <span class="allocation-percentage">
          {{ assignment.allocation }}%
        </span>
      </div>
    </div>
  </div>

  <div class="skills-container">
    <div *ngFor="let skill of employee.skills; let i = index">
      <div *ngIf="i <= 5" class="skill-detail">
        <div class="skill-label">
          {{ skill.name }}
        </div>
        <div class="skill-gauge">
          <div
            class="gauge"
            [ngClass]="generateSkill(skill.experience.level).toLowerCase()"
            [title]="skill.experience.years + ' years experience'"
          >
            {{ generateSkill(skill.experience.level) }}
            <span class="years-experience">
              ({{ skill.experience.years }} years)
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="quick-action-container">
    <div class="action" (click)="setQuickView()">Quick View</div>
    <div class="action" (click)="setCompareEmployee()">
      Compare
    </div>
  </div>
</div>
