@import '../../colors.scss';

.card-body {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 35px;
  min-height: 300px;
  background-color: white;
  color: $oaGray;
  .employee-header {
    display: flex;
    h1 {
      font-size: 1.75em;
      margin-top: 0px;
      flex: 3;
    }
    .status {
      flex: 1;
      text-align: right;
      .fa {
        color: lightgreen;
      }
    }
    .employee-link-container {
      display: flex;
      .employee-image {
        flex: 50px;
        max-width: 50px;
        margin-right: 10px;
        border-radius: 50px;
      }
      .employee-name {
        flex: 5;
      }
    }
  }
  .sub-header {
    display: flex;
    .location,
    .title {
      flex: 1;
    }
    .location {
      text-align: right;
    }
  }
  &.scale-up {
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background-color: #fff9f1;
      box-shadow: 0px 3px 3px 0px #9aacbd;
      cursor: default;
    }
  }
  .assignment {
    .allocation-legend {
      margin-bottom: 5px;
      &:first-child .fa {
        color: $allocation2;
      }
      &:nth-child(2) .fa {
        color: $allocation3;
      }
      &:nth-child(3) .fa {
        color: $allocation4;
      }
    }
  }
  .employee-allocation {
    display: flex;
    margin-top: 10px;
    .allocation {
      .allocation-percentage {
        display: none;
      }
      &:hover {
        .allocation-percentage {
          display: inherit;
        }
        .client {
          display: none;
        }
      }
      &.scale-up {
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          transform: scale(1.02, 1.02);
          box-shadow: 0px 3px 3px 0px #9aacbd;
          cursor: default;
        }
      }
      text-align: center;
      color: white;

      &:first-child {
        background-color: $allocation2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:nth-child(2) {
        background-color: $allocation3;
      }
      &:nth-child(3) {
        background-color: $allocation4;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .location {
    margin-bottom: 10px;
  }
  .skills-container {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #f0fff9;
    min-height: 160px;
    .skill-detail {
      display: flex;
      .skill-label {
        flex: 1;
        text-align: right;
      }
      .skill-gauge {
        flex: 4.5;
        padding-left: 10px;
        .gauge {
          padding-left: 10px;
          border: 1px solid white;
          color: white;
          font-size: 0.95em;
          &.expert {
            width: 100%;
            background-color: $oaOrange;
          }
          &.advanced {
            width: 80%;
            background-color: $oaOrange;
            opacity: 0.9;
          }
          &.intermediate {
            width: 65%;
            background-color: $oaOrange;
            opacity: 0.8;
          }
          &.novice {
            width: 40%;
            background-color: $oaOrange;
            opacity: 0.7;
          }
          &.beginner {
            width: 30%;
            background-color: $oaOrange;
            opacity: 0.6;
          }
          &.none {
            width: 0%;
            background-color: $oaOrange;
            opacity: 0.5;
          }
          .years-experience {
            display: none;
          }
          &:hover {
            .years-experience {
              display: inline;
            }
          }
        }
      }
    }
  }
}
