<div class="skill-card-container">
  <div class="row">
    <div *ngFor="let skill of skills$ | async" class="col-lg-3">
      <a [routerLink]="encodeURL(skill.name)">
        <div class="card-body scale-up">
          <div class="header">
            {{ skill.name }}
          </div>

          <br />
          <div class="category-image-container">
            <img
              [src]="
                '/assets/category_logos/' + skill.name.toLowerCase() + '.png'
              "
              alt=""
            />
          </div>
          <hr />
          <div class="subheader">
            {{ skill.category }}
          </div>
          <hr />
          <div class="employees">
            <i class="fa fa-users" aria-hidden="true"></i>
            {{ skill.employeesWithSkill }}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
