<div class="skill-table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Employees with Skill</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>alsdkjfakldf</td>
        <td>alksdfj adslfkjasdf</td>
        <td>27</td>
      </tr>
      <tr>
        <td>alsdkjfakldf</td>
        <td>alksdfj adslfkjasdf</td>
        <td>27</td>
      </tr>
      <tr>
        <td>alsdkjfakldf</td>
        <td>alksdfj adslfkjasdf</td>
        <td>27</td>
      </tr>
      <tr>
        <td>alsdkjfakldf</td>
        <td>alksdfj adslfkjasdf</td>
        <td>27</td>
      </tr>
      <tr>
        <td>alsdkjfakldf</td>
        <td>alksdfj adslfkjasdf</td>
        <td>27</td>
      </tr>
    </tbody>
  </table>
</div>
