<div class="skill-table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Employees with Skill</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skill of skills$ | async">
        <td>
          <a [routerLink]="encodeURL(skill.name)">{{ skill.name }}</a>
        </td>
        <td>{{ skill.category }}</td>
        <td>{{ skill.employeesWithSkill }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="skill-card-container">
  <div class="row">
    <div *ngFor="let skill of skills$ | async" class="col-lg-4">
      <div class="card-body">
        {{ skill.name }} -
        {{ skill.category }}
      </div>
    </div>
  </div>
</div>
